{
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSameLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^(@.*)$", "^([a-zA-Z].*)$", "^[./]", "^[../]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
}
